/* ===========================================
Element Targets
h1, h2, native html elements etc etc etc
=========================================== */
html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
}

body {
    margin: 0;
}

footer {
    color: white;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #EA80FC;
}

button {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 4rem;
    margin: 0;
    color: white;
}

h3 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}
h4 {
    color: grey;
    font-weight: 400;
    margin: 1rem 0;
}
p {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
}
/* ===========================================
Containers
Containers with spacing should go here
=========================================== */
.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;

}

.container-title {
    margin: 0rem 0;
}

.container-description {
    margin: 1rem 0;
}

.container-query {
    display: grid;
    align-self: center;
    margin-left: 2rem;

}

.result-container {
  display: flex;
  justify-content: space-around;
  align-self: center;
}
/* ===========================================
Text styles
=========================================== */
.frontend {
    color: #B2FF59;
    }
    

.backend {
color: #F4FF81;
}


.db {
color: #FF80AB;
}

/* ===========================================
Buttons
Containers with spacing should go here
=========================================== */
.button-main {
  background-color: #FFFFFF;
  border: none;
  color: black;
  padding: 1rem;
  padding-top: 1.3rem;
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 700;
  width: 50%;
  transition: all 0.15s;
  
}
.button-main:hover{
    background-color: purple;
    color: white;
    transform: rotate3d(4, 4, 24, 3deg);
}